// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Pacifico');


.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
  color: gray;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

#home {
  background-color: #ffffff;
  color: grey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
    font-size: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
  }
}

.pacifico {
  font-family: 'Pacifico', cursive;
  font-size: 1.6em;
  line-height: 1;
  z-index: 10;
  color: grey;
}

.underline {
  border-bottom: 3px solid rgba(0,0,0,.2);
  display: inline-block;
  line-height: 0.85;
}

.column {
  margin: 0 auto !important;
}

.smaller {
  width: 80%;
  margin: 0 auto;
  p {
    padding-bottom: 20px;
  }
}


.smaller-2 {
  width: 60%;
  margin: 0 auto;
}

.menu {
  display: none;
  position: relative;
  top: 20px
}

.bring-to-front {
  z-index: 1000;
}

img#heart {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.animation-1 {
  animation: beat .7s infinite alternate;
  transform-origin: center;
}

@keyframes beat{
  to { transform: scale(1.03); }
}

.animation-2 {
  transform: scale(50);
}

.btn-home {
  float: right;
  background-color: white;
  border-radius: 2px;
  margin-top: 10px;
  padding: 5px 10px;
  font-family: 'Pacifico', cursive;
  font-size: 1.1em;
  border: 1px solid rgba(0,0,0,.2)
}

@media only screen and (max-width: 700px) {
  .btn-home {
    float: center;
  }
}

#home-button {
  border: none;
  font-size: 25px;
}

.header {
  padding: 60px 0;
}

.is-horizontal-center {
  justify-content: center;
}

.knudge {
  position: relative !important;
  top: 50px !important;
}

.pad-that-shit {
  margin: 10px
}

.project h1 {
  padding-bottom: 10px;
}

.hidden-mob {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hidden-mob {
    display: unset !important;
  }
}

.hidden-tab {
  display: none;
}

@media only screen and (min-width: 769px) {
  .hidden-tab {
    display: unset !important;
  }
}

.columns {
  margin-bottom: 40px !important;
  padding: 2rem 0;
}

.next-button {
  position: fixed;
  top: 95%;
  right: 10px;
  text-align:right;
  z-index:9999;
  margin-top:-15px;
  &:hover{
    color: gray;
  }
}
